* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    border-bottom: 0.4px solid #FFF2E750;
}

.cabecalho-img {
    width: 62px;
    height: 62px;
}

.cabecalho-navegacao {
    display: flex;
    gap: 64px;
}

.cabecalho-navegacao-item {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color:#FFF2E7;
}

.container {
    margin-bottom: 48px;
    height: 75vh;
}

.container-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;    
}

.container-main-titulo {
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.container-main-titulo-primario {
    font-family: 'Righteous';
    color: #FFF2E7;
    font-size: 64px;
    font-weight: 400;
}

.container-main-titulo-subtitulo {
    font-family: 'Sarala';
    font-weight: 400;
    font-size: 24px;
    color: #ECD6C4;
}

.container-main-titulo-botao {
    background-color: #ECD6C4;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    width: 185px;
    height: 67px;

    font-family: Sarala;

    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #2F2325;
}

.container-main-titulo-botao:hover {
    cursor: pointer;
    transition: 250ms;
    background-color: rgba(236, 214, 196, 0.53);
}

.container-main-imagem {
    width: 395px;
    height: 430px;
}

.container-secundario {
    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.container-secundario-titulo {
    font-family: 'Righteous', cursive;
    font-weight: normal;
    font-size: 24px;
    color: #FFF2E7;
    padding-top: 64px;
    border-top: 0.4px solid #FFF2E750;
    margin-bottom: 16px;
}

.container-secundario-paragrafo {
    font-family: 'Sarala';
    font-weight: normal;
    font-size: 18px;
    color: #ECD6C4;;
}

.rodape {
    padding: 46px;
    border-top: 0.4px solid #FFF2E750;
    display: flex;
    flex-direction: row;
    justify-content: center;
}